

  
<div class="container" >
  
  <div class="parent card2">
      <div class="card ">
          <div class="content-box">
              <h1 class="card-title">Concert Tickets</h1>
              <p class="card-content">
                Get 20% off on tickets to your favorite concerts. Limited time offer...............!
              </p>
              <span class="see-more">Redeem</span>
          </div>
          <div class="date-box">
              <span class="month">MAR</span>
              <span class="date">12</span>
          </div>
      </div>
  </div>

  <div class="parent card3">
      <div class="card">
          <div class="content-box">
              <h1 class="card-title">Movie Night</h1>
              <p class="card-content">
                Enjoy a movie night with our special 2-for-1 offer on movie tickets.................!
              </p>
              <span class="see-more">Redeem</span>
          </div>
          <div class="date-box">
              <span class="month">MAY</span>
              <span class="date">08</span>
          </div>
      </div>
  </div>

  <div class="parent card2">
    <div class="card ">
        <div class="content-box">
            <h1 class="card-title">Amusement Park Passes</h1>
            <p class="card-content">
              Get unlimited access to rides and attractions with our season pass.
            </p>
            <span class="see-more">Redeem</span>
        </div>
        <div class="date-box">
            <span class="month">JUN</span>
            <span class="date">15</span>
        </div>
    </div>
</div>

<div class="parent card3">
  <div class="card">
      <div class="content-box">
          <h1 class="card-title">Restaurant Special</h1>
          <p class="card-content">
            Enjoy a delicious meal at our restaurant with a special discount .
          </p>
          <span class="see-more">Redeem</span>
      </div>
      <div class="date-box">
          <span class="month">JUL</span>
          <span class="date">3</span>
      </div>
  </div>
</div>


  <div class="parent card2">
      <div class="card ">
          <div class="content-box">
              <h1 class="card-title">Dental Cleaning</h1>
              <p class="card-content">
                Keep your smile bright with our discounted dental cleaning services..................!
              </p>
              <span class="see-more">Redeem</span>
          </div>
          <div class="date-box">
              <span class="month">MAR</span>
              <span class="date">25</span>
          </div>
      </div>
  </div>

  <div class="parent card3">
      <div class="card">
          <div class="content-box">
              <h1 class="card-title">Health Checkup</h1>
              <p class="card-content">
                Avail a comprehensive health checkup at our clinic with a special discount..............!
              </p>
              <span class="see-more">Redeem</span>
          </div>
          <div class="date-box">
              <span class="month">JUNE</span>
              <span class="date">17</span>
          </div>
      </div>
  </div>
  

  


  <div class="parent card2">
      <div class="card ">
          <div class="content-box">
              <h1 class="card-title">Eye Checkup</h1>
              <p class="card-content">
                Ensure your vision is clear with our special offer on eye examinations best offer.
              </p>
              <span class="see-more">Redeem</span>
          </div>
          <div class="date-box">
              <span class="month">APR</span>
              <span class="date">1</span>
          </div>
      </div>
  </div>
  <div class="parent card3">
    <div class="card">
        <div class="content-box">
            <h1 class="card-title">Medical Offers</h1>
            <p class="card-content">
              Avail a comprehensive health checkup at our clinic with a special discount.
            </p>
            <span class="see-more">Redeem</span>
        </div>
        <div class="date-box">
            <span class="month">JAN</span>
            <span class="date">11</span>
        </div>
    </div>
  </div>
  
  <div class="parent card2">
    <div class="card ">
        <div class="content-box">
            <h1 class="card-title">Home Cleaning</h1>
            <p class="card-content">
              Ensure your vision is clear with our special offer on eye examinations best offer.
            </p>
            <span class="see-more">Redeem</span>
        </div>
        <div class="date-box">
            <span class="month">APR</span>
            <span class="date">17</span>
        </div>
    </div>
  </div>

<div class="parent card3">
  <div class="card">
      <div class="content-box">
          <h1 class="card-title">Fitness Membership</h1>
          <p class="card-content">
            Join our gym and get a discounted membership .
          </p>
          <span class="see-more">Redeem</span>
      </div>
      <div class="date-box">
          <span class="month">JUNE</span>
          <span class="date">27</span>
      </div>
  </div>
</div>


<div class="parent card2">
  <div class="card ">
      <div class="content-box">
          <h1 class="card-title">Cafe <br> Discount</h1>
          <p class="card-content">
            Visit our cafe and enjoy your favorite drinks with a discount.
          </p>
          <span class="see-more">Redeem</span>
      </div>
      <div class="date-box">
          <span class="month">FEB</span>
          <span class="date">9</span>
      </div>
  </div>
</div>

<div class="parent card3">
  <div class="card">
      <div class="content-box">
          <h1 class="card-title">Food Offers</h1>
          <p class="card-content">
            Enjoy a delicious meal at our restaurant with a special discount offer.
          </p>
          <span class="see-more">Redeem</span>
      </div>
      <div class="date-box">
          <span class="month">JUNE</span>
          <span class="date">24</span>
      </div>
  </div>
</div>




</div>




        
    
