<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><img src="assets\log1.png" alt="" id="logo"></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="getstarted scrollto" routerLink="registerAndLogin">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Neo Finance is a Lithuanian peer-to-peer lending platform</h1>
        <h2>
          that connects investors with borrowers for personal loans, offering
          transparent and automated investment opportunities.
        </h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a routerLink="registerAndLogin" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img src="assets/hero-img.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            "About Neo Finance: Your Gateway to Transparent Peer-to-Peer
            Lending, Connecting Investors and Borrowers for Financial
            Empowerment."
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Transparent Peer-to-Peer
              Lending
            </li>
            <li>
              <i class="ri-check-double-line"></i>Automated Investment
              Opportunities
            </li>
            <li>
              <i class="ri-check-double-line"></i>Financial Empowerment Through
              Responsible Lending
            </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Neo Finance is a pioneering peer-to-peer lending platform based in
            Lithuania, facilitating a direct connection between investors and
            borrowers. Launched in 2015, Neo Finance focuses on transparent and
            efficient lending processes, providing individuals with access to
            personal loans. The platform utilizes a unique scoring model to
            assess borrower creditworthiness and offers automated investment
            opportunities for investors.
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
        >
          <div class="content">
            <h3>
              People may like the<strong>Neo Finance website</strong> for
              several reasons
            </h3>
            <p>
              Borrowers can use Neo Finance to access personal loans with
              transparent terms and fair conditions, providing an alternative to
              traditional lending institutions.
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#accordion-list-1"
                  ><span>01</span> What is the primary purpose of Neo Finance
                  for borrowers? <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-1"
                  class="collapse show"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    Neo Finance serves as a platform for borrowers to access
                    personal loans with transparency and fairness, connecting
                    them directly with investors in a peer-to-peer lending
                    model.
                  </p>
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span> How does Neo Finance benefit investors?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-2"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    Investors on Neo Finance can diversify their portfolios
                    through automated investment opportunities, leveraging the
                    platform's unique scoring model to make informed decisions
                    and achieve potential returns.
                  </p>
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3"
                  class="collapsed"
                  ><span>03</span> What sets Neo Finance apart in the financial
                  landscape? <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-3"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    Neo Finance distinguishes itself by promoting responsible
                    lending practices, ensuring financial empowerment for both
                    borrowers and investors in a secure and regulated
                    environment, with a strong emphasis on transparency.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          Neo Finance primarily offers services related to peer-to-peer lending.
          Here are some key services provided by Neo Finance:
        </p>
      </div>

      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Peer-to-Peer Lending</a></h4>
            <p>
              Facilitating direct lending and borrowing relationships between
              individuals, Neo Finance allows users to access personal loans or
              invest in loans offered by others.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Automated Investment</a></h4>
            <p>
              Investors can use the platform's automated investment feature,
              which streamlines the investment process by allocating funds based
              on predefined criteria, reducing manual intervention.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Loan Scoring Model</a></h4>
            <p>
              Neo Finance employs a unique scoring model to assess the
              creditworthiness of borrowers, providing investors with
              information to make informed decisions on loan investments.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="">Transparent Loan Information</a></h4>
            <p>
              The platform prioritizes transparency, offering detailed
              information about loan terms, interest rates, and borrower
              profiles, enabling users to make well-informed financial
              decisions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Call To Action</h3>
          <p>
            "Experience a new era of transparent and empowering finance with Neo
            Finance. Join our community today to access fair loans, diversify
            your investments, and be part of a responsible financial ecosystem.
            Start your journey towards financial empowerment – Neo Finance
            awaits you!"
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" routerLink="/">Call To Action</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Team</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>KAVYA</h4>
              <span>Full Stack Developer</span>

              <div class="social">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-6 mt-4 mt-lg-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img src="assets\sankar.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>SANKAR</h4>
              <span>Full Stack Developer</span>
              <span>Sankar is involved in both backend and frontend development at Neo Finance</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img src="assets\Hemachendra.jpg" class="img-fluid" alt="" height="" />
            </div>
            <div class="member-info">
              <h4>HEMACHANDRA</h4>
              <span>Full Stack Developer</span>
              <span> Hemachandra is responsible for backend development at Neo Finance</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>UDAY</h4>
              <span>Full Stack Developer</span>

              <div class="social">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>PRAGNA</h4>
              <span>Full Stack Developer</span>

              <div class="social">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              class="collapse"
              data-bs-target="#faq-list-1"
              >What is Neo Finance, and how does it work?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div
              id="faq-list-1"
              class="collapse show"
              data-bs-parent=".faq-list"
            >
              <p>
                Neo Finance is a peer-to-peer lending platform that connects
                investors with borrowers. Investors can lend money directly to
                individuals seeking personal loans through our online
                marketplace.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-2"
              class="collapsed"
            >
              How do I get started as an investor on Neo Finance?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                To begin investing, create an account on our platform, deposit
                funds, and explore automated investment options or manually
                select loans based on borrower profiles and risk factors
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-3"
              class="collapsed"
            >
              What types of loans are available on Neo Finance?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Neo Finance offers a variety of personal loans, including
                consumer loans, for different purposes such as debt
                consolidation, home improvement, or unforeseen expenses.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-4"
              class="collapsed"
            >
              How is borrower creditworthiness determined?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                We use a unique scoring model that evaluates the
                creditworthiness of borrowers based on various factors,
                providing investors with valuable information to make informed
                lending decisions.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-5"
              class="collapsed"
            >
              What sets Neo Finance apart from other lending platforms?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Neo Finance distinguishes itself with a strong emphasis on
                transparency, responsible lending, and a user-friendly
                interface. Our platform is regulated, providing a secure
                environment for both investors and borrowers.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          We value your inquiries and feedback at Neo Finance. Whether you have
          questions about our peer-to-peer lending platform, need assistance
          with your account, or simply want to connect with us, we're here to
          help.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>17.51674795386137, 78.34315525451848</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 9988776655</p>
            </div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30437.738277247332!2d78.32358585720205!3d17.521004136879554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9279676f8f1d%3A0x6d53fb3b4ed44f8a!2sMiyapur%2C%20Telangana!5e0!3m2!1sen!2sin!4v1706682410137!5m2!1sen!2sin"
             
              style="border: 0; width: 100%; height: 290px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Neo Finance</h3>
          <p>
            Miyapur Main Road <br />
            Hyderabad, Pincode 500049<br />
            Telangana <br /><br />
            <strong>Phone:</strong> +91 9988776655<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Terms of service</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Home Loans</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Personal loans</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Business Loans</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Etc...!</a>
            </li>
           
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>
            Cras fermentum odio eu feugiat lide par naso tierra videa magna
            derita valies
          </p>
          <div class="social-links mt-3">
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
