








<div class="row div2" >
  <div class="clo-md-2"></div>
  <div class="col-md-6">
    <div class="div1">
<section id="faq" class="faq section-bg">

  <div class="container" data-aos="fade-up">
    <div class="faq-list">
     
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option (click)="onemonth()" selected>One Month</mat-chip-option>
        <mat-chip-option (click)="ThreeMonths()">Three month</mat-chip-option>
        <mat-chip-option color="accent" (click)="SixMonths()" >Six Month</mat-chip-option>
        <mat-chip-option color="warn" (click)="OneYear()">One Year</mat-chip-option>
      </mat-chip-listbox>

      <div class="form-group ">
        <label for="" class="form-label">Select card</label>
        <select name="" id="" class="form-control" [(ngModel)]="card_id">
          <option *ngFor="let c of cards" [value]="c.card_id" >{{c.card_id}} </option>
        </select>
      </div>


     
      
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" class="collapse"  data-bs-target="#faq-list-1" >Personal Care
            <i class="bx bx-chevron-down icon-show"></i ><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1"  class="collapse show"  data-bs-parent=".faq-list">
            <p>
              "Personal care involves maintaining hygiene and well-being through
              activities such as grooming, skincare, and overall self-maintenance."
              
              
              
                <mat-card-content>
                  <h2>Result</h2>
              
                  <div class="example-label-container">
                    <label id="example-name-label" class="example-name-label ">Value</label>
                    <span class="ml-2"><label class="example-value-label ">{{slider.value}}</label></span>
                  </div>
                  <mat-slider
                      class="example-margin"
                      [disabled]="disabled"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [discrete]="thumbLabel"
                      [showTickMarks]="showTicks">
                    <input matSliderThumb [(ngModel)]="value" #slider>
                  </mat-slider>
                </mat-card-content>
                 <input type="text"  value="card limit  {{limit}}" disabled>
             
              
            </p>  
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-2"
            class="collapsed"
          >
          Accommodation
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              "Accommodation refers to providing lodging or housing facilities for
              individuals, typically involving a place to stay temporarily, such as
              hotels, hostels, or rental properties." 
              
              <mat-card-content>
                <h2>Result</h2>
            
                <div class="example-label-container">
                  <label id="example-name-label" class="example-name-label">Value</label>
                  <label class="example-value-label">{{slider.value}}</label>
                </div>
                <mat-slider
                    class="example-margin"
                    [disabled]="disabled"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [discrete]="thumbLabel"
                    [showTickMarks]="showTicks">
                  <input matSliderThumb [(ngModel)]="value" #slider>
                </mat-slider>
              </mat-card-content>
               <input type="text"  value="card limit  {{limit}}" disabled>
           
            
            </p>  
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-3"
            class="collapsed"
          >
          Transport
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              "Transportation encompasses the movement of people or goods from one
              place to another using various modes such as cars, trains, planes, or
              ships."
              
              <mat-card-content>
                <h2>Result</h2>
            
                <div class="example-label-container">
                  <label id="example-name-label" class="example-name-label">Value</label>
                  <label class="example-value-label">{{slider.value}}</label>
                </div>
                <mat-slider
                    class="example-margin"
                    [disabled]="disabled"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [discrete]="thumbLabel"
                    [showTickMarks]="showTicks">
                  <input matSliderThumb [(ngModel)]="value" #slider>
                </mat-slider>
              </mat-card-content>
               <input type="text"  value="card limit  {{limit}}" disabled>
           
            
            </p>  
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-4"
            class="collapsed"
          >
          Entertainment
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              "Entertainment is the engagement or enjoyment derived from various
          activities, such as movies, music, games, and events, designed to
          amuse, entertain, and provide leisure."
          
          <mat-card-content>
            <h2>Result</h2>
        
            <div class="example-label-container">
              <label id="example-name-label" class="example-name-label">Value</label>
              <label class="example-value-label">{{slider.value}}</label>
            </div>
            <mat-slider
                class="example-margin"
                [disabled]="disabled"
                [max]="max"
                [min]="min"
                [step]="step"
                [discrete]="thumbLabel"
                [showTickMarks]="showTicks">
              <input matSliderThumb [(ngModel)]="value" #slider>
            </mat-slider>
          </mat-card-content>
           <input type="text"  value="card limit  {{limit}}" disabled>
       
        
            </p> 
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

    </div>
  </div>
<div class="col-md-1"></div>
  <div class="col-md-5 ">
    <div class="chart">
     
      <!-- <canvas id="myChart">{{chart}}</canvas> -->
      <canvas baseChart
      id="pie"
      [data]="chartData"
      [labels]="chartDatalabels"
      [type]="'pie'"
     ></canvas>
    </div>
  </div>
</div>








<div class="container-fluid offers">
  <h1 class="mt-5 mb-4 main animate_animated animate_bounce d-flex justify-content-center" id="offersText">Explore exclusive financial offers now!</h1>

 
  <div class="container">
        
            

    <div class="parent card2">
        <div class="card ">
            <div class="content-box">
                <h1 class="card-title">Card Title</h1>
                <p class="card-content">
                  "Savor delicious deals on your favorite meals with amazing offers.!"
                </p>
                <span class="see-more"> Redeem</span>
            </div>
            <div class="date-box">
                <span class="month">FEB</span>
                <span class="date">6</span>
            </div>
        </div>
    </div>

    <div class="parent card3">
        <div class="card">
            <div class="content-box">
                <h1 class="card-title">today Offers</h1>
                <p class="card-content">
                  "Make a splash with hot deals on cool adventures!"
                </p>
                <span class="see-more">Redeem</span>
            </div>
            <div class="date-box">
                <span class="month">FEB</span>
                <span class="date">6</span>
            </div>
        </div>
    </div>

    <div class="parent card2">
      <div class="card">
          <div class="content-box">
              <h1 class="card-title">today Offers</h1>
              <p class="card-content">
                "Make a splash with hot deals on cool adventures!"
              </p>
              <span class="see-more">Redeem</span>
          </div>
          <div class="date-box">
              <span class="month">FEB</span>
              <span class="date">6</span>
          </div>
      </div>
  </div> 
  <div class=""><a routerLink="offers" class="viewmore">VIEW MORE</a></div>
</div>
 </div>







<hr>
<!-- ======= Footer ======= -->
<footer id="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Neo Finance</h3>
          <p>
            Miyapur Main Road <br />
            Hyderabad, Pincode 500049<br />
            Telangana <br /><br />
            <strong>Phone:</strong> +91 9988776655<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Terms of service</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Home Loans</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Personal loans</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Business Loans</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Etc...!</a>
            </li>
           
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>
            Cras fermentum odio eu feugiat lide par naso tierra videa magna
            derita valies
          </p>
          <div class="social-links mt-3">
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

