.sidenav-container {

   
 }
 
 .sidenav {
   width: 200px;
 }
 
 .sidenav .mat-toolbar {
   background: inherit;
 }
 
 .mat-toolbar.mat-primary {
   position: sticky;
   top: 0;
   z-index: 1;
 }
 span>a{
   color: white;
 
 }
 
 /* --------------------------------------------------big screen--------------------------------------------------------------- */
 @media only screen and (min-width: 961px) {
  
   .ul2 {
    background-color: rgb(54, 51, 51);
    box-shadow: 1px 1px 1px 1px lightskyblue;
   

   }
#user{
  position: relative;
  left: 1160px;
}

  
  

 
 
 .nav-items{
   position: relative;
   left: 950px;
 }
 #search{
   margin-right: 30px;
   margin-top:10px ;
   display: flex;
   position: absolute;
   top: 4px;
   left: 350px;
   right: 300px;
 }
 
 
 
 
 }
 
 /* --------------------------------------------------small screen--------------------------------------------------------------- */
 @media only screen and (max-width: 576px) {
   #search{
     display: none;
   }
   #logo{
     display: none;
   }
   }