<mat-sidenav-container class="sidenav-container " id="sidenav">
  <mat-sidenav
id="sai"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
        <!----------------------- Logo-------------------------------------- -->
        <a routerLink="#" class="position-absolute top-0"
          ><img
            id="logo"
            src="assets\log1.png"
            class="position-absolute top-1 start-10"
            alt=""
            height="60px"
            width="100px"
        /></a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item id="sidenavLists"  [routerLink]="['/home/']">
        <i class="fa-sharp fa-solid fa-house me-1"></i> Dashboard  
      </a>
      <a mat-list-item id="sidenavLists"  [routerLink]="['SetLimits']"
        ><i class="fa-brands fa-stack-overflow me-2"></i>Set Limits</a
      >
      <a mat-list-item  id="sidenavLists" [routerLink]="['offers']"
        ><i class="fa-solid fa-gifts me-2"></i>Offers</a
      >
      <a mat-list-item  id="sidenavLists" [routerLink]="['cardDetails']"
        ><i class="fa-regular fa-credit-card me-1"></i> Add Cards</a
      >
      <a mat-list-item  id="sidenavLists" [routerLink]="['upload_file']"
        ><i class="fa-solid fa-file-invoice me-2"></i>Upload Statements
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="top">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div>
      
        <!-- ------------------------Search Box-------------------------------- -->

        <form class="  " id="search">
          <input type="search" class="form-control me-3" placeholder="search" />
          <button class="btn btn-outline-danger">Search</button>
        </form>
      </div>

      <!-- ------------------------------------------User------------------------------------------ -->
      <div class="nav-items">
        <div class="dropdown">
          <button
            class="btn btn-outline-dark"
            type="button"
            id="userdropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>User
          </button>
          <ul class="dropdown-menu ul2" aria-labelledby="userdropdown">
            <li class="dropdown-item">
              <a class="text-decoration-none text-info" routerLink="MyProfile" >
                My Profile</a>
            </li>
            <li class="dropdown-item">
              <a (click)="logout()" class="text-decoration-none text-info"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!---------------------------------------------------------- pie chart------------------------------------------------------------ -->

<!-- <div class="row">
  <div class="col-md-7">
<h1>hello</h1>
  </div>
  <div class="col-md-5">
    <div>
      <div *ngIf="isHandset$ | async">Handset View</div>
      <div *ngIf="!(isHandset$ | async)">Desktop View</div>
    </div>
  </div>
</div> -->



