<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['home']">
        <i class="fa-sharp fa-solid fa-house me-1"></i> Home
      </a>
      <a mat-list-item [routerLink]="['#']"
        ><i class="fa-brands fa-stack-overflow me-2"></i>Set Limits</a
      >
      <a mat-list-item [routerLink]="['offers']"
        ><i class="fa-solid fa-gifts me-2"></i>Offers</a
      >
      <a mat-list-item [routerLink]="['addcards']"
        ><i class="fa-regular fa-credit-card me-1"></i> Add Cards</a
      >
      <a mat-list-item [routerLink]="['#']"
        ><i class="fa-solid fa-file-invoice me-2"></i>Upload Bills
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div>
        <!----------------------- Logo-------------------------------------- -->
        <a routerLink="#" class="position-absolute top-0"
          ><img
            id="logo"
            src="assets\log1.png"
            class="position-absolute top-1 start-10"
            alt=""
            height="60px"
            width="100px"
        /></a>
        <!-- ------------------------Search Box-------------------------------- -->

        <form class="  " id="search">
          <input type="search" class="form-control me-3" placeholder="search" />
          <button class="btn btn-outline-danger">Search</button>
        </form>
      </div>

      <!-- ------------------------------------------User------------------------------------------ -->
      <div class="nav-items">
        <div class="dropdown">
          <button
            class="btn btn-secondary"
            type="button"
            id="userdropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>
          </button>
          <ul class="dropdown-menu ul2" aria-labelledby="userdropdown">
            <li class="dropdown-item">
              <a class="text-decoration-none text-info" routerLink="#">
                My Details</a
              >
            </li>
            <li class="dropdown-item">
              <a class="text-decoration-none text-info" routerLink="#">
                MY Cards
              </a>
            </li>
            <li class="dropdown-item">
              <a routerLink="#" class="text-decoration-none text-info"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!---------------------------------------------------------- pie chart------------------------------------------------------------ -->

<div>
  <div *ngIf="isHandset$ | async">Handset View</div>
  <div *ngIf="!(isHandset$ | async)">Desktop View</div>
</div>

<div style="width: 100%; max-width: 600px;">
  <ng-apexcharts #chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive">
  </ng-apexcharts>
</div>